In [2]:
import pandas as pd
from datetime import datetime

In [20]:
df = pd.read_csv("cctv-2020-03-21.log", sep=' ', \
                    names=['날짜', '시간','로그레벨', '프로세스ID', '라벨', '사진/동영상', '거리', ''], \
                    header=None)
df

,날짜,시간,로그레벨,프로세스ID,라벨,사진/동영상,거리,
0,2020-03-21,"12:46:57,083",INFO,3480,1st,cheking(Shot):,Distance=26.63707733154297cm,NaN
1,2020-03-21,"12:47:02,983",INFO,3480,1st,cheking(Shot):,Distance=17.41623878479004cm,NaN
2,2020-03-21,"14:27:23,189",INFO,1173,2nd,cheking(Video):,Distance=5.613565444946289cm,NaN
3,2020-03-21,"14:27:30,880",INFO,1173,2nd,cheking(Video):,Distance=9.241104125976562cm,NaN
4,2020-03-21,"14:27:40,342",INFO,1173,1st,cheking(Shot):,Distance=17.47298240661621cm,NaN
5,2020-03-21,"14:27:44,217",INFO,1173,1st,cheking(Shot):,Distance=23.143291473388672cm,NaN
6,2020-03-21,"14:27:50,089",INFO,1173,2nd,cheking(Video):,Distance=2.500772476196289cm,NaN

In [21]:
df['사진/동영상'] = df['사진/동영상'].str.replace(
            pat='cheking(', repl='', regex=False)
df['사진/동영상'] = df['사진/동영상'].str.replace(
            pat='):', repl='', regex=False)
df

,날짜,시간,로그레벨,프로세스ID,라벨,사진/동영상,거리,
0,2020-03-21,"12:46:57,083",INFO,3480,1st,Shot,Distance=26.63707733154297cm,NaN
1,2020-03-21,"12:47:02,983",INFO,3480,1st,Shot,Distance=17.41623878479004cm,NaN
2,2020-03-21,"14:27:23,189",INFO,1173,2nd,Video,Distance=5.613565444946289cm,NaN
3,2020-03-21,"14:27:30,880",INFO,1173,2nd,Video,Distance=9.241104125976562cm,NaN
4,2020-03-21,"14:27:40,342",INFO,1173,1st,Shot,Distance=17.47298240661621cm,NaN
5,2020-03-21,"14:27:44,217",INFO,1173,1st,Shot,Distance=23.143291473388672cm,NaN
6,2020-03-21,"14:27:50,089",INFO,1173,2nd,Video,Distance=2.500772476196289cm,NaN

In [22]:
cctv_df = df.loc[:, ['날짜', '시간', '사진/동영상']]
cctv_df

           날짜            시간 사진/동영상
0  2020-03-21  12:46:57,083   Shot
1  2020-03-21  12:47:02,983   Shot
2  2020-03-21  14:27:23,189  Video
3  2020-03-21  14:27:30,880  Video
4  2020-03-21  14:27:40,342   Shot
5  2020-03-21  14:27:44,217   Shot
6  2020-03-21  14:27:50,089  Video

In [23]:
def color_negative_red(val):
    color = 'red' if val == 'Video' else 'black'
    return 'color: %s' % color
 
a = cctv_df.style.applymap(color_negative_red)

In [24]:
a